body {
  padding-top: 2rem;
  margin: 0;
  display: flex;
  background-color: #0097e6;
  display: flex;
  justify-content: center;
  font-family: lato, Arial, Helvetica, sans-serif;
}

#message-container {
  width: 60%;
  max-width: 1200px;
  font-size: 1.2rem;
}

#message-container div {
  padding: 5px;
  background-color: #f5f6fa;
  color: #2f3640;
  border-radius: .2rem;
}

#message-container div:nth-child(2n) {
  background-color: #718093;
  color: #f5f6fa;
}

#send-container {
  position: fixed;
  bottom: 0;
  max-width: 1200px;
  width: 60%;
  display: flex;
  border-radius: .3rem;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: .3rem;
  outline: none
}
